*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
html { 
  background: linear-gradient(to right,rgba(153, 234, 255,0.4),rgba(153, 234, 255,0.4)),url("../Images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#form{
	top: 15%;
	position: relative;
	min-width: 400px;
	min-height: 465px;
	max-width: 400px;
	max-height: 465px;
	background-color: rgba(179, 221, 255,0.5);
	margin: auto auto;
	margin-top: 15%;
	overflow: hidden;
	right: auto;
	left: auto;

}
#coloring-dummy{
	position: absolute;
	width: 25%;
	height: 32px;
	border-radius: 20px;
	background:linear-gradient(to left, #c6edf7, #0acdff);
	top: 25px;
	left: 103px;
	transition: 0.75s;
}
#btn-box{
	width:50%;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-shadow: 0 0 5px 5px #b6e1fc;
	top: 25px;
	margin: 0 auto 50px auto;
	border-radius: 20px;
}
.btn{
	height: 32px;
	width: 48%;
	outline:none;
	background : transparent;
	border: none;
	cursor: pointer;
	transition: 0.75s;

}
.form-box{
	position: absolute;
	transition: 0.75s;
}
#signup{
	left: 450px;
	top: 18%;
}
input{
	display: inline;
	border: 0;
	/*border-bottom: 1px solid black;*/
	outline: none;
	height: 20px;
	background: transparent;
	
}
.wrapper input{
	min-width: 80%;
}
.wrapper2 input{
	min-width: 80%;
}
.wrapper{
	margin: 15px auto 30px auto;
	display: block;
	border: 1px solid black;
	padding: 2px;
	background-color: white;
	width: 240px;
}
#login{
	left: 81px;
	height: 45%;
	top: 24%;

}
#login > form > input{
	margin: 30px auto;
}
#forgot-pass{
	float: right;
	margin-top:0;
	margin-bottom: 18px;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: rgb(0, 145, 255);
}
a:visited{
	color: rgb(0, 145, 255);
}
a:hover{
	color: rgb(0,0,255);
}

#signup > form > input{
	margin: 20px auto;
}
#btn-1{
	border:0;
	width: 80%;
	height: 32px;
	cursor: pointer;
	background:linear-gradient(to left, #c6edf7, #0acdff);
	border-radius: 16px;
}
#btn-2{
	border:0;
	width: 80%;
	height: 32px;
	cursor: pointer;
	background:linear-gradient(to left, #c6edf7, #0acdff);
	border-radius: 16px;
}
.wrapper2{
	position: relative;
	display: block;
	border: 1px solid black;
	padding: 2px;
	background-color: white;
	margin-top: 20px;
	width: 240px;
	left: -10px;
	/*box-sizing: border-box;*/
}
i{
	margin-right: 2px;
	padding-right:1px;
}

#eye1{
	margin-top: 1px;
	margin-right: 2.8px;
	display: none;
	cursor: pointer;
	float: right;
}
#eye2{
	margin-top: 1px;
	cursor: pointer;
	float: right;
}

#eye3{
	margin-top: 1px;
	margin-right: 2.8px;
	display: none;
	cursor: pointer;
	float: right;
}
#eye4{
	margin-top: 1px;
	cursor: pointer;
	float: right;
}

#eye5{
	margin-top: 1px;
	margin-right: 2.8px;
	display: none;
	cursor: pointer;
	float: right;
}
#eye6{
	margin-top: 1px;
	cursor: pointer;
	float: right;
}
.error{
	position: absolute;
	font-size: 0.8em;
	color: red;
	visibility: hidden;
	margin-top: 2px;
}
#error{
	font-size: 0.8em;
	position: relative;
	left : -12px;
	color: red;
	visibility: hidden;
	max-width: 100%;
	text-align: center;
}
#btn-1:hover{
	box-shadow: 0 0 10px 7px #e8dfe8;
	border: 1px solid #ad91ff;
}
#btn-2:hover{
	box-shadow: 0 0 10px 7px #b6e1fc;
	border: 1px solid #ad91ff;
}
@media only screen and (max-width: 400px){
	#form{
		width: 100%;
		left:-10%;
		margin-top: 0px;
	}
	

}
@media only screen and (min-width: 500px){
	#form{
		margin-top:5vh;
	}
	

}